<html lang="pt-br">
	<head>
		<title>NOTÍCIA 1</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>
		<h1>Marina NEWS</h1>
		<h3>Nada além da verdade</h3>
		<hr>
		<h2>PREÇO DA BATATA SOBE MAIS DE 20% EM MAIO, ENTENDA</h2>
		
		<img class="image" src="C:\Users\Marina Oliveira\Documents\marina news\images\batatas.jpg"width=400px >
		
		
		<p class="paragrafo">Dados divulgados nessa terça-feira, 11, pelo Instituto Brasileiro de Geografia e Estatística (IBGE) apontam para um aumento de 20,61% nos preços da batata inglesa durante o mês de maio, contribuindo para uma elevação de 0,62% no grupo de Alimentação e Bebidas do Índice de Preços ao Consumidor Amplo (IPCA).</p>
		
		<p class="paragrafo">Em uma análise regional, Porto Alegre, conhecida como o quarto maior produtor nacional do tubérculo, testemunhou um salto de 23,94% nos preços durante o mesmo período, levando o estado a alcançar a primeira posição no IPCA, com 0,87% de aumento em maio.</p>
		
		<p class="paragrafo"><b>Menor oferta de batata</b></p>
		
		<p class="paragrafo">De acordo com o Centro de Estudos Avançados em Economia Aplicada (Cepea) da Esalq/USP, a escalada dos preços da batata no mês passado pode ser atribuída à diminuição na oferta nacional, influenciada por fatores climáticos adversos.</p>

		<p class="paragrafo">"As altas temperaturas e as chuvas irregulares durante o período de plantio e de desenvolvimento das lavouras do Paraná impactaram negativamente a fitossanidade e a produtividade das áreas colhidas nesse primeiro mês [...] As catástrofes climáticas no Rio Grande do Sul impediram o início da colheita de Ibiraiaras (RS) em maio, o que acentuou a escassez e valorização do tubérculo no mercado, destacou o relatório do Cepea.</p>
		
		<br>
		<hr>
		<p class="dev-texto">Desenvolvido por: Marina Oliveira</p>
		
	</body>
</html>