<html lang="pt-br">
	<head>
		<title>NOTÍCIA 2</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>
		<h1>Marina NEWS</h1>
		<h3>Nada além da verdade</h3>
		<hr>
		<h2 class="titulo">CLIPE DOS CANTORES JORGE E MATEUS, 'A HORA É AGORA', COMPLETOU 12 ANOS EM MARÇO DE 2024, RELEMBRE:</h2>
		
		<video controls width="800" >
			<source src="../midia/jorgeemateus.mp4">
		</video>
		
		<hr>
		<p class="dev-texto">Desenvolvido por: Marina Oliveira</p>
		
	</body>
</html>