<html lang="pt-br">
	<head>
		<title>NOTÍCIA 3</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/estilos.css">
	</head>
	<body>
		<h1>Marina NEWS</h1>
		<h3>Nada além da verdade</h3>
		<hr>
		<h2 class="titulo">ESCUTE A MÚSICA DE JORGE MATEUS, UTILIZADA POR ELES NA DESPEDIDA DE SEUS SHOWS!</h2>
		
		<audio controls width="800">
			<source src="../midia/jorgeemateus.mp4">
		</audio>
		
		<p>Os artistas Jorge & Mateus, lançaram em 2012 a música 'A Hora é Agora', aumentando a fama da dupla e fazendo com que seu reconhecimento seja atingido em todo o país, no clipe desse áudio, os cantores estão em Londres, na Ingraterra.</p>
		
		<p>Aprecie esta grande obra, basta somente apertar no play e ouvir!</p>
		
		<hr>
		<p class="dev-texto">Desenvolvido por: Marina Oliveira</p>
		
	</body>
</html>